<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
   <div class="container">
      <% include partials/menu %>

    <div class="container-fluid bg-3 text-center">    
      <br>
        <h3><%= page %></h3><br>
        <div class="row">
          <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-md-4">
              <img class="img" style="height: 300px;width:auto" src="./images/about-img.png" alt="" srcset="">
          </div>
          <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
         
        </div>
   </div>

  </body>
  <% include partials/script %>
</html>
