<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
</head>

<body>
  <div class="container">
    <% include partials/menu %>
    <div class="container-fluid bg-3 text-center">
      <br><br>
      <h3><%= page %></h3><br>
      <ul class="list-group">
        <li class="list-group-item">Phone: +31 0654800520</li>
        <li class="list-group-item">E-Mail: Dapibus@gmail.com</li>
        <li class="list-group-item">Adres: Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>


</body>
</div>
<% include partials/script %>

</html>