<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <div class="container">
        <% include partials/menu %>

        <div class="container-fluid bg-3 text-center">
            <br><br>
            <h3><%= page %></h3><br>
            <ul class="list-group">
                    <% customers.forEach(function(item){   %>

                        <li class="list-group-item">Company Name: <%=item.companyName%> <br> E-Mail: <%=item.email%> <br> Phone: <%=item.phoneNumber%></li>
                        
                      <% }) %> 
            </ul>
          </div>
</body>
<% include partials/script %>

</html>