<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <div class="container">
        <% include partials/menu %>
        <div class="row">
            <div class="col-md-5">
                <img class="signup-img" src="./images/signup-mg.png" alt="" srcset="">
            </div>
            <div class="col-md-7">
                <div class="login-form">
                    <div class="panel">
                        <h2>Create Account</h2>
                        <p>Please enter your company name, email and password</p>
                    </div>

    <!-- <form action="/contact" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name">
        <label>Message</label>
        <textarea class="form-control" name="message" rows="5" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Send</button>
    </form> -->
                    <form action="/signup" method="POST" id="Login">
                        <div class="form-group">
                            <input type="text" class="form-control" name="inputName" id="inputName" value=""
                                placeholder="Company Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="inputEmail" id="inputEmail"
                                placeholder="Email Address">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="inputPassword" id="inputPassword"
                                placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="inputPhone" id="inputPhone"
                                placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="inputAdres" id="inputAdres"
                                placeholder="Adres">
                        </div>

                        <button type="submit" class="btn signup">Sign Up</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</body>
<% include partials/script %>

</html>